.ms-AccountRecordTable {
}

.ms-AccountRecordTable .ms-AccountRecordTableHeader {
  border-style: solid;
  border-width: 2px;
  font-style: bold;
}

.ms-AccountRecordTable .ms-AccountRecordTableHeaderCell {
  border-right-style: solid;
  border-right-width: 2px;
  margin-right: 5px;
}

.ms-AccountRecordTable .ms-AccountRecordTableCell {
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-right-margin: 5px;
}