body {font-family: Helvetica, Arial; text-align:center; margin:0 auto; width: 960px; height: auto}

h2 {font-size: 30px; font-weight: bold; color: #696969; text-align: center;}
h3 {font-size: 22px; font-weight: bold; color: #787878; text-align: left;}
p {text-align: left; color: #636363;}
ul {text-align: left; color: #636363;}