<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  
  <servlet>
    <servlet-name>yourServlet</servlet-name>
    <servlet-class>mytest.server.YourServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>yourServlet</servlet-name>
    <url-pattern>/listgridtest/yourservice</url-pattern>
  </servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ListGridTest.html</welcome-file>
  </welcome-file-list>

</web-app>
