<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- <filter> <filter-name>UrlRewriteFilter</filter-name> <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class> 
		<init-param> <param-name>modRewriteConf</param-name> <param-value>true</param-value> 
		</init-param> <init-param> <param-name>modRewriteConfText</param-name> <param-value> 
		RewriteCond %{HTTP_HOST} ^localhost$ RewriteRule ^/(.*)$ /webFront/$1 [L] 
		</param-value> </init-param> <init-param> <param-name>confReloadCheckInterval</param-name> 
		<param-value>60</param-value> </init-param> </filter> <filter-mapping> <filter-name>UrlRewriteFilter</filter-name> 
		<url-pattern>/*</url-pattern> <dispatcher>REQUEST</dispatcher> <dispatcher>FORWARD</dispatcher> 
		</filter-mapping> -->

	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter>
		<filter-name>sessionPerRequestFilter</filter-name>
		<filter-class>com.wideplay.warp.persist.PersistenceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionPerRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<listener>
		<listener-class>com.m3958.firstgwt.module.MyGuiceServletConfig</listener-class>
	</listener>


	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <servlet> <servlet-name>webFront</servlet-name> <servlet-class>com.m3958.firstgwt.servlet.WebFrontServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>webFront</servlet-name> <url-pattern>/webFront</url-pattern> 
		</servlet-mapping> -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file></welcome-file>
	</welcome-file-list>

</web-app>
