<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="weatherService" class="sample.servicelifecycle.impl.WeatherService">
        <property name="weather">
            <bean class="sample.servicelifecycle.bean.Weather">
                <property name="forecast" value="Sunny"/>
                <property name="temperature" value="26.5"/>
                <property name="rain" value="false"/>
                <property name="howMuchRain" value="0.2"/>
            </bean>
        </property>
    </bean>
</beans>
